@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* PARTE INICIAL */
.bg {
    background: linear-gradient(to right, #A7CDBD 70%, #BBE1C3 100%);
}
.navbar-brand {
    font-family: 'Reem Kufi Fun', sans-serif;
    font-weight: 500;
}
.container {
    display: flex;
    justify-content: center;
}
.content-initial__conteudo {
    display: flex;
    align-items: center;
}
.content-initial__align-text {
    margin-bottom: 20px;
    color: #5c5c5c;
}
.content-initial__title {
    font-family: 'Reem Kufi Fun', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.content-initial__button {
    display: flex;
    flex-direction: column;
}
.content-initial__button-btns,
.btn-img {
    animation: pulse 1.5s infinite;
    margin-top: 5px;
}
/*SEGUNDA PARTE */
.content-initial__align-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 250px;
}
.content-initial__align-txt-titulo {
    margin: 10px 0;
    color: #709082;
    font-weight: bold;
    font-family: 'Reem Kufi Fun', sans-serif;
}
.content-initial__align-button {
    width: 100%;
    display: flex;
    justify-content: center;
}
.content-initial__align-button-img {
    width: 90%;
}
.rodape {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    background: linear-gradient(to right, #A7CDBD 80%, #BBE1C3 100%);
}
.copyright {
    font-size: 16px;
    color: #5c5c5c;
}
.links {
    text-decoration: none;
    color: #5c5c5c;
}
.rede-social {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons {
    margin-left: 5px;
}
/*ANIMAÇÃO */
@keyframes pulse {
    0% {
        transform: scale(1.1);
        filter: brightness(100%);
    }
    100% {
        transform: scale(1.1);
        filter: brightness(200%);
    }
}